.wrapper {
    width: 75vw;
    margin: 0px auto;
    line-height: 23px;
    font-size: 17px; 
}

header {
    height: 150px;
    background-color: rgb(70, 68, 68);
    text-align: center;
}

h1, h2 {
    color: white;
    font-family: 'Dancing Script';
}

h1 {
    font-size: 34px;
    padding-top: 40px;
}

h2 {
    font-size: 30px;
}

main {
    display: flex;
}

.left-col {
    width: 30%;
    background-color: rgb(228, 198, 198);
    padding-bottom: 10px;
}

.right-col {
    width: 70%;
    background-color: rgb(241, 239, 239);
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.left-col__foto {
    padding: 10%;
    width: 80%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 60%;
}

.left-col__about-me {
    font-family: 'Dancing Script';
    font-size: 20px;
    padding: 7%;
    text-align: center;
}

.left-col__my-contacts {
    padding-left: 12%;
    padding-right: 12%;
}

.icon {
    padding-top: 15px;
}

.icon img {
    width: 15%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h3 {
    text-transform: uppercase;
    color: rgb(226, 169, 169);
}   

h3:hover {
    cursor: pointer;
}

p span {
    font-weight: 600;
}

.hide {
    height: 0px;
    overflow: hidden;
    transition: height .5s ease-out;
}
